<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs' ,{tittle: 'Home'}) %> 
<body>
    <div class="container" style="margin-top: 5%;">
        <div>
            <div>
                <h1>Clothes Oke</h1>
            </div>
            <div style="margin-top: 5%;">
                <p>doesn't have an account yet?</p>
                <button type="button" class="btn btn-outline-secondary" onclick="location.href='/register'">Sign Up</button>
                <br><br>
                <p>already have an account?</p>
                <button type="button" class="btn btn-outline-secondary" onclick="location.href='/admin/login'">login as admin</button>
                <button type="button" class="btn btn-outline-secondary" onclick="location.href='/client/login'">login as client</button>
            </div>
        </div>
    </div>
</body>
</html>