<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs' ,{tittle: 'Login Admin'}) %> 
</head>
<body>
    <div style="margin-left: 5%; margin-top: -6%; position: absolute;">
        <a href="/" style="color: #354259; text-decoration: none;"><i data-feather="arrow-left-circle"></i> Back</a>
    </div>
    <div class="container" style="text-align: center; margin-top: 10%; width: 50%;">
        <form action="/admin/login" method="post">
            Username <BR>
            <input type="text" name="username" value="" placeholder="Username" class="form-control">
            <BR></BR>
            Password<BR>
            <input type="text" name="password" value="" placeholder="Password" class="form-control">
            <BR>
                <% if (error) { %>
                    <p style="color: red;"><%= error.split(',').map(el => el) %></p>
                <% } %>
            </BR>
            <input type="submit" value="login" class="btn btn-outline-secondary">
        </form>
    </div>
    <script>
        feather.replace()
    </script>
</body>
</html>